*{
    margin: 0;
    padding: 0;
}

body{
    background: #050505;
    font-size: "Overpass","san-serif";
    font-size: 15px;

}

.container {
    
    width: 21rem;
    height: 40rem;
    padding: 0.5rem;
    margin-left: 30rem;
    padding: 1rem 0.5rem;
    border-radius: 1rem;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main{
    
    padding: 0.5rem 0.9rem 0.9rem 0.9rem;
    background: hsl(216, 12%, 8%);

}

.icon-star{
    padding: 1rem 1rem 1rem 1rem;
    width: 0.8rem;
    height: 0.8rem;
    background-color:hsl(213, 19%, 18%);
    margin-bottom: 1rem;
    border-radius: 2rem;
    border: 1px solid yellow;
   
}

h1{
    padding-bottom: 0.5rem;
    color:hsl(0, 0%, 100%);
}

p{
    padding-bottom: 0.2rem;
    color:hsl(217, 12%, 63%);
}

.lista-nota{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    border-radius: 0.5rem;
    list-style-type: none;
}

.btn-nota{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.2rem;
    border-radius: 1.8rem;
    border: none;
    background-color:hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    
}

.envio{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 2rem;
    padding: 0.5rem 0.5rem;
    border: none;
    background-color:hsl(25, 97%, 53%);

}

.thankyou{
    padding: 1rem 0.5rem;
    width: 20rem;
    text-align: center;
    background: hsl(216, 12%, 8%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;

    
}

.select{
    margin: 2rem 3rem;
    padding: 0.2rem 0.2rem;
    border-radius: 1rem;
    border:none;
    color: hsl(25, 97%, 53%);
    width: 65%;
    text-align: center; 
    background-color:hsl(213, 19%, 18%);
}

.lista-nota li button:hover{
background: hsl(217, 12%, 63%);
color: hsl(0, 0%, 100%);

}

.main button:hover{
    background: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

.lista-nota li button:focus{
    background-color:hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}
